<%- include("partials/header") %>


    <div class="content text-center">
        <h1 class="heading text-center">BASIC BANKING SYSTEM</h1>
    </div>

    <p class="main-content">
        <span style="display:block;text-align:center;">This app is developed using Node.js and MongoDB.</span><span
            style="text-align:center;display:block;">The objective is to show the details of customers and handle the
            transfer of credits between them as well as to maintain the transaction history.</span>
    </p>

    <p class="main-content2">
        Made By:<a href="https://www.linkedin.com/in/sourabh-kothari-916966179/">Sourabh Kothari</a>
    </p>

    <div class="container">
        <button class="btn btn-primary"><a href="https://www.thesparksfoundationsingapore.org/">The Sparks
                Foundation</a> </button>
    </div>

    <%- include("partials/footer") %>